h1 {
    text-align:center;
}

body {
  background-color: #99979b;
}

.inputOptions{
    margin: auto;
    text-align: center;
}

#inputText{
    width: 70%;
    height: 25px;
    margin: auto;
}

#inputButton{
    height: 25px;
}