h1 {
    text-align:center;
}

#inputText {
    display: inline-block;
    margin-left: 120PX;
    width: 70%;
    height: 30px;
}

.addButton {
    width: 15px;
    height: 20px;
    margin-left: 90%;
    margin-top: 30%;
}

body {
  background-color: #99979b;
  margin: 0;
}

.searchButton {

    height: 40px;
}

.carousel-item{
    width: 37%;
    margin-left: 30%;
}