<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>

<body>

    <a href="/"><button>Back</button></a>

    <h1>Music On Fire</h1>

    <div class="inputOptions">
        <form action="#" method="post">
            <label for="inputType">Search by:</label>
            <select name="inputType" id="inputType" name="inputType">
                <option value="band">band</option>
                <option value="genre">genre</option>
                <option value="description">description</option>
            </select>

            <p><input type="text" name="inputText" placeholder="Search for the best music" id="inputText"/></p>
            <p><input type="submit" value="submit" id="inputButton" /></p>
        </form>
    </div>

    <div id="addButton" class="addButton"></div>
    <button id="addModalButton" title="Add missing music">Add</button>
    </div>


    <div id="modal" class="modal">
        <form action="#" method="post">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="labelForText">
                    <label for="modalBandText">Band:</label>
                    <input type="text" name="modalBandText" placeholder="Add missing band" id="modalBandText" />
                </div>
                <div id="labelForText">
                    <label for="modalAlbumText">Album:</label>
                    <input type="text" name="modalAlbumText" placeholder="Add missing album" id="modalAlbumText" />
                </div>
                <div id="labelForText">
                    <label for="modalGenreText">Genre:</label>
                    <input type="text" name="modalGenreText" placeholder="Add missing genre" id="modalGenreText" />
                </div>
                <div id="labelForText">
                    <label for="modalDescriptionText">Description:</label>
                    <input type="text" name="modalDescriptionText" placeholder="Add missing description"
                        id="modalDescriptionText" />
                </div>
                <p><input type="submit" value="submit" id="modalButton"/></p>
            </div>
        </form>
    </div>


    <script src="static/index.js"></script>

</body>

</html>